{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container" style="margin-top:50px">
    <h2 class="text-center">Contact Us</h2>
    <div class ='row'>
        <div class = 'col-lg-3'>
            <h4><i class="fas fa-phone-square"></i> Contact</h4>
            <p class = "mt-3 font-weight-bold"><a href = "tel:+919847007838" >+919847007838</a></p>
        </div>
         <div class = 'col-lg-3'>
            <h4><i class="fas fa-envelope"></i> Send Mail</h4>
            <p class = "mt-3 font-weight-bold"><a href = "email:vsbalussery@gmail.com" >vsbalussery@gmail.com</a></p>
         </div>
    </div>
</div>
{% endblock %}